<div class="wrapper-md col-md-12">
  <div class="card form-card">
    <div layout-="column">
      <md-toolbar class="md-primary barradeopciones" cdty-sticky="table">
        <div class="md-toolbar-tools">
          <md-input-container md-no-float>
            <input class="md-input" placeholder="Filtrar ..." ng-model="$ctrl.filter.filtro" º>
          </md-input-container>
          <div class="flex"></div>
          <md-button class="md-default md-raised btn-fw m-b-sm btn-guardar" ui-sref="app.teachers.teacher-info({teacherId:$ctrl.teacher.id})">
            <i class="fa fa-user"></i> Mi perfil
          </md-button>
        </div>
      </md-toolbar>
      <form ng-submit="$event.preventDefault()" name="form">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12"><h3>Dar/revocar permisos a :</h3></div>
          </div>

          <div class="row">
            <md-input-container md-no-float flex-gt-sm class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
              <md-select ng-model="$ctrl.selectedModality" aria-label="modalidades" ng-change="$ctrl.getClassNames($ctrl.selectedModality)"
                name="modality" ng-required="true">
                <md-option ng-repeat="m in $ctrl.modalities" value="{{m.modality}}" placeholder="Modalidad" aria-label="modalidad">
                  {{m.modality}}
                </md-option>
              </md-select>
              <div ng-messages="form.modality.$error" ng-if="form.modality.$touched">
                <div ng-message="required">Seleccione una modalidad</div>
              </div>
            </md-input-container>
          
            <md-input-container md-no-float ng-hide="!$ctrl.classNames" flex-gt-sm class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
              <md-select ng-model="$ctrl.selectedClassName" aria-label="clases" name="className">
                <md-option ng-repeat="c in $ctrl.classNames" value="{{c.className}}" placeholder="Clase" aria-label="clase">
                  {{c.className}}
                </md-option>
              </md-select>
            </md-input-container>
         
              <div coderty-loading="$ctrl.saving" class="barradeopciones" ng-if="!form.$invalid">
              <md-button class="btn-guardar" aria-label="Dar permisos a un grupo" ng-click="$ctrl.grantAuthStudents()">
                <i class="fa fa-check"></i><small class="hidden-xs hidden-sm">Grant</small>
              </md-button>
              <md-button class="btn-eliminar" aria-label="Revocar permisos de un grupo" ng-click="$ctrl.revokeAuthStudents()">
                <i class="fa fa-times"></i><small class="hidden-xs hidden-sm">Revoke</small>
              </md-button>
            </div>
          </div>
        </div>
      </form>

      <md-content layout-padding>
        <div ng-hide="$ctrl.studentsTable.rows[0]" class="col-md-12 bg-warning" style="background:rgba(250, 215, 51,.33)">
          <p style="padding:10px 0 0 10px;">No hay datos</p>
        </div>
        <div tasty-table bind-resource="$ctrl.studentsTable" ng-show="$ctrl.studentsTable.rows[0]" watch-resource="collection" class="col-md-12"
          bind-filters="$ctrl.filter.filtro">
          <table class="table table-condensed table-striped tabla-seleccionable hidden-xs">
            <thead tasty-thead></thead>
            <tbody>
              <tr ng-repeat="s in rows">
                <td>
                  {{::s.name}}
                </td>
                <td>
                  {{::s.surname}}
                </td>
                <td>
                  {{::s.modality}}
                </td>
                <td>
                  {{::s.className}}
                </td>
                <td>
                  <span ng-bind="s.code"></span>
                  <span ng-hide="s.code">Sin asignar</span>
                </td>
                <td>
                  <span class="cursor-pointer text-azul" tooltip-placement="left" ui-sref="app.teachers.student-info({studentId:s.studentId})"
                    tooltip="Ver perfil">
                          <i class="fa fa-eye"></i>
                        </span>
                </td>
                <td>
                  <span ng-if="s.gotCode===0" class="cursor-pointer text-verde" tooltip-placement="left" ng-click="$ctrl.grantAuth(s.studentId)"
                    tooltip="Generar codigo">
                          <i class="fa fa-check"></i>
                        </span>
                  <span ng-if="s.gotCode===1" class="cursor-pointer text-rojo" tooltip-placement="left" ng-click="$ctrl.revokeAuth(s.studentId)"
                    tooltip="Revocar codigo">
                          <i class="fa fa-times"></i>
                        </span>
                </td>
              </tr>
            </tbody>
          </table>

          <table class="table table-condensed table-striped tabla-seleccionable hidden-lg hidden-md hidden-sm">
            <thead tasty-thead></thead>
            <tbody>
              <tr ng-repeat="s in rows" ui-sref="app.teachers.student-info({studentId:s.studentId})">
                <td>
                  {{::s.name}}
                </td>
                <td>
                  {{::s.surname}}
                </td>
                <td>
                  {{::s.modality}}
                </td>
                <td>
                  {{::s.className}}
                </td>
                <td>
                  <span ng-bind="s.code"></span>
                  <span ng-hide="s.code">Sin asignar</span>
                </td>
              </tr>
            </tbody>
          </table>
          <div tasty-pagination list-items-per-page="[]" bind-items-per-page="25" template-url="app/core/commons/blocks/pagination-ng-tasty.html"></div>
        </div>
      </md-content>
    </div>
  </div>
</div>